.sidenav {
	width: 130px;
	position: fixed;
	z-index: 1;
	top: 20px;
	left: 10px;
	background: #83A9FA;
	overflow-x: hidden;
	padding: 8px 0;
}

	.sidenav a {
		padding: 6px 8px 6px 16px;
		text-decoration: none;
		font-size: 25px;
		color: white;
		display: block;
	}

		.sidenav a:hover {
			color: #064579;
		}

.main {
	margin-left: 140px; /* Same width as the sidebar + left position in px */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

		.sidenav a {
			font-size: 18px;
		}
}
p {
	color: black;
}
body {
	background-size: cover;
	background-color: ghostwhite;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 20px;
	grid-column: 2/3;
}
header {
	color: saddlebrown;
	font-family: 'Rubik Beastly', cursive;
	border: 4px solid white;
	border-radius: 19px;
	background-size: cover;
	background-color: #83A9FA;
	grid-column: 2/4;
	padding-left: 10px;
}
h2 {
	font-family: 'Domine', serif;
}
main {
	grid-column: 1/3;
	padding-left: 150px;
}
footer {
	grid-column: 3/4;
}
main img {
	
}

